/*@media screen and (max-width: 768px){
	.container {
		width: 90%;
		margin-right:5%;
		margin-left:5%;
	}

	#logout-btn {
		position: relative;
		right:-100%;
	}

	#logo {
		position: relative;
		left:-5%;
	}

	#search-bar {
		position: relative;
		right:-50%;	
	}
}


@media screen and (min-width: 769px){
	.container {
		width: 90%;
		margin-right:5%;
		margin-left:5%;
	}

	#logout-btn {
		position: relative;
		right:-100%;
	}

	#logo {
		position: relative;
		left:-5%;	
	}

	#search-bar {
		position: relative;
		right:-50%;	
	}
}


@media screen and (min-width: 1200px){
	.container {
		height:100%;
		width: 90%;
		margin-right:5%;
		margin-left:5%;
	}

	#logout-btn {
		position: relative;
		right:-95%;
	}

	#logo {
		position: relative;
		left:-2%;
	}

	#search-bar {
		position: relative;
		margin:auto 0;
		width:30%;	
	}

	#search-input {
		width:30%;	
	}

	#identity-select {
		position: relative;
		right:-80%;	
	}
}*/

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWELVE  */
.span_12 {
	width: 100%;
}

.span_11 {
  	width: 91.53%;
}
.span_10 {
  	width: 83.06%;
}

.span_9 {
  	width: 74.6%;
}

.span_8 {
  	width: 66.13%;
}

.span_7 {
  	width: 57.66%;
}

.span_6 {
  	width: 49.2%;
}

.span_5 {
  	width: 40.73%;
}

.span_4 {
  	width: 32.26%;
}

.span_3 {
  	width: 23.8%;
}

.span_2 {
  	width: 15.33%;
}

.span_1 {
  	width: 6.866%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
    
    .span_1, .span_2, .span_3, .span_4, .span_5, .span_6, .span_7, .span_8, .span_9, .span_10, .span_11, .span_12 {
	width: 100%; 
	}
}