<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <title>{% block title %}{% endblock %}BitR</title>
        <link media="all" type="text/css" rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">

        <script src = "http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="{%static "js/jquery.min.js"%}"></script>
        <script src="{% static "js/mustache.min.js" %}"></script>        
        <script src="{%static "js/django_ajax.js"%}"></script>
        
        <script src="{%static "bitrest/jquery.min.js"%}"></script>
    </head>
    <body>
        <div class = "container">
        {% block header %}
        {% endblock %}
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>