{% extends "bitrest/base.html" %}
{% block content %}
    {% load bootstrap_tags %}
    {% load staticfiles %}
    <script src="{%static 'js/index.js' %}"></script>
    {{ error }} <br>

    <form action={% url 'bitrest:signup' %} class="signup form-horizontal" method="POST">
        {% csrf_token %}
        
        {{ signup|as_bootstrap }}

        <button class="btn btn-default">
            Sign Up
        </button>
    </form>

    <form action={% url 'bitrest:login' %} class="login form-horizontal" method="POST">
        {% csrf_token %}

        {{ login|as_bootstrap }}

        <button class="btn btn-default">
            Login
        </button>
    </form>
    <p class="signup">Already have a BitR account?  <button id="login">Login</button></p>
    <p class="login">Don't have a BitR account?  <button id="signup">Sign up now</button></p>
{% endblock %}