{% extends "bitrest/base.html" %}
{% block content %}
    {% load bootstrap_tags %}
    {% load staticfiles %}
    <script src="{%static 'js/index.js' %}"></script>
    {{ error }} <br>
    <div class="row">
        <div class="col-md-8">
            <img src="{%static 'images/road_rail.jpeg' %}" class="img-responsive" alt="Sailboat">
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-3">
            <h1>BitR</h1>
            <form action={% url 'bitrest:signup' %} class="signup form-horizontal" method="POST">
                {% csrf_token %}
                
                {{ signup|as_bootstrap }}

                <button class="btn btn-material-bluegrey">
                    Sign Up
                </button>
            </form>

            <form action={% url 'bitrest:login' %} class="login form-horizontal" method="POST">
                {% csrf_token %}

                {{ login|as_bootstrap }}

                <button class="btn btn-material-bluegrey">
                    Login
                </button>
            </form>
            <p class="signup">Already have a BitR account?  <button id="login" class="btn btn-material-bluegrey">Login</button></p>
            <p class="login">Don't have a BitR account?  <button id="signup" class="btn btn-material-bluegrey">Sign up now</button></p>
        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock %}