#inbox-mess,#sent-mess{
	width: 100%;
	margin-left:7%;
}

#table-head{
	width: inherit;
}

.new-message {
	list-style-type: none;
	cursor:pointer;
}

.new-message a div {
	color:black;
}
#inbox-list,#sent-list{
	padding-left: 1.8%;
	padding-right: 5.2%;
}

.ui-autocomplete {
}