#inbox-mess{
	width: 100%;
	margin-left:7%;
}

#table-head{
	width: inherit;
}

.new-message {
	list-style-type: none;
}

.new-message a div {
	color:black;
}
#inbox-list{
	margin-left: 0;
	padding-left: 0;
}
