{% extends "bitrest/base.html" %}
{% load staticfiles %}
{% block title %}{{ user.username }} Inbox - {% endblock %}
{% block header %}
	<div class = "section">
	    <a class="col span_2" href="" id = 'logo'>BitR</a>
	    <form class="col span_4" action = "/bitmess/{{user.id}}" id = "search-bar">
	    <input id = "search-input" type = 'search' placeholder = "Search" results = "0" name = 'bitr-search'>
		</form>
		<select class="col span_2" id = 'identity-select'>
			<option>Some Identity</option>
			{% for identity in identities %}
				<option>{{identity.name}}</option>
			{% endfor %}
		</select>
		<a class="col span_2" href="bitmess/settings/{{user.id}}" id = 'settings-btn'><button>Settings</button></a>
	    <a class="col span_2" href={% url 'bitrest:logout' %} id = 'logout-btn'>Logout</a>
	</div>
{% endblock %}
{% block content %}
	<div class = "section">
		<div class = "col span_2">
			<button id = "compose-btn">Compose</button>
			<br>
			<button id = "chan-post-btn">Post to Chan</button>
		</div>
		<select class = "col span_1" id = 'mess-select'>
			<option>All</option>
			<option>None</option>
			<option>Read</option>
			<option>Unread</option>
			<option>Starred</option>
			<option>Unstarred</option>
		</select>
		<button class = "col span_1" id = 'refresh-btn'>Refresh</button>
		<div id = 'primary-tab' class = 'col span_3'>
			<p>Primary</p>
		</div>
		<div class = "col span_3" id = 'chan-tab'>
			<p>Chans</p>
			<select id = 'chan-select'>
				{% for chan in chans %}
				<option>{{chan.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div class = "section">
		<ul class = "col span_2" id = "inbox-options">
			<li><a href="/bitmess/{{user.id}}">Inbox</a></li>
			<li><a href="/bitmess/starred/{{user.id}}">Starred</a></li>
			<li><a href="/bitmess/sent/{{user.id}}">Sent Mail</a></li>
			<li><a href="/bitmess/drafts/{{user.id}}">Drafts</a></li>
			<li><a href="/bitmess/spam/{{user.id}}">Spam</a></li>
			<li><a href="/bitmess/trash/{{user.id}}">Trash</a></li>
		</ul>
		<div class = "col span_8" id = 'inbox'>
			{% for message in messages %}
				{% if message in read_message_list %}
				<div id = 'read-status'>Read</div>
				{% else %}
				<div id = 'read-status'>Unread</div>
				{% endif %}
				<div id = 'subject'>{{message.subject}}</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}