<!DOCTYPE html>
<html>
    <head>
        {% load bootstrap_tags %}
        {% load staticfiles %}
        <title>About BitR</title>
        <!-- Twitter Bootstrap -->        
        <link media="all" type="text/css" rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
        <!-- Material Design for Bootstrap -->
        <link media="all" type="text/css" rel="stylesheet" href="{% static "css/material-wfont.min.css" %}" />
        <link media="all" type="text/css" rel="stylesheet" href="{% static "css/ripples.css" %}" />

        <script src="{%static "js/jquery.min.js"%}"></script>
        <script src="{% static "js/mustache.min.js" %}"></script>        
        <script src="{%static "js/django_ajax.js"%}"></script>
        <script src="{%static "js/bootstrap.min.js"%}"></script>
        <script src="{%static "js/jquery.cookie.js"%}"></script>
        <!-- Material Design for Bootstrap -->
        <script src="{%static "js/material.min.js"%}"></script>
        <script src="{%static "js/ripples.min.js"%}"></script>

    </head>
    <body>
        <div class = "container">
            What is BitR?

            What Does That Mean?

            <p> <a href={% url 'bitweb:index' %} class="text-muted">Home</a></p>  

        </div>
    </body>
</html>
