<!DOCTYPE html>
<html>
    <head>
        {% load bootstrap_tags %}
        {% load staticfiles %}
        <title>About BitR</title>
        <!-- Twitter Bootstrap -->        
        <link media="all" type="text/css" rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
        <!-- Material Design for Bootstrap -->
        <link media="all" type="text/css" rel="stylesheet" href="{% static "css/material-wfont.min.css" %}" />
        <link media="all" type="text/css" rel="stylesheet" href="{% static "css/ripples.css" %}" />

        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/mustache.min.js" %}"></script>        
        <script src="{% static "js/django_ajax.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/jquery.cookie.js" %}"></script>
        <!-- Material Design for Bootstrap -->
        <script src="{% static "js/material.min.js" %}"></script>
        <script src="{% static "js/ripples.min.js" %}"></script>

    </head>
    <body>
        <div class = "container">
            <div class="row">
                <h3>
                    What is BitR?
                </h3>
                <p>
                    BitR is a Web portal to a Bitmessage client.
                </p>
            </div>
            <div class="row">
                <h3>
                    Bitmessage?
                </h3>
                <p>
                    Bitmessage is an encrypted, anonymizing, decentralized, and trustless kind of email communication.
                </p>
            </div>
            <div class="row">
                <h3>
                    What Does That Even Mean?
                </h3>
                <p>
                    There is no email server that stores all the messages. No email server to that can crash, be hacked, monitored, or corrupted.  Everyone who uses the Bitmessage client stores all of the messages of the Bitmessage network.
                </p>
            </div>
            <div class="row">
                <h3>
                    How?
                </h3>
                <p>
                    Bitmessage uses blockchain technology.  This means that all the computers running Bitmessage are connected to each other in a big network, and everybody has a copy of the message blockchain.  Everytime someone wants to send a message, they send it out to all of the computers they're connected to in the network, and everyone adds the message to their blockchain.  All of the computers are constantly checking with their neighbors for new messages.
                </p>
            </div>
            <div class="row">
                <h3>
                    Can't someone just read everyone else's messages then?
                </h3>
                <p>
                    All of the messages are asymmetrically encrypted, even the headers, so noone can read the messages, or even tell who they are for.
                </p>
            </div>
            <div class="row">
                <h3>
                    So how do you receive a message then if you can't even tell who the messages are for?
                </h3>
                <p>
                    The Bitmessage client on your computer tries to unencrypt <i>every</i> new message that gets added to the blockchain, and if it does unencrypt it, that means it was encrypted with your public key, so it was meant for you!
                </p>
            </div>
            <div class="row">
                <h3>
                    So if I create an account on BitR then my communications are fully end-to-end encrypted, anonymous and secure?
                </h3>
                <p>
                    No, this is just a beta version of the website.  Right now, your emails are only encrypted by ssl between your browser and our server, where they are unencrypted then encrypted again with Bitmessage's encryption.  So it's not end-to-end encrypted right now, but we're working on that.  Our server isn't totally secure quite yet, so I wouldn't trust it with your darkest secrets right now ;)
                </p>
            </div>
            <div class="row">
                <h3>
                    What are these "Chans"?
                </h3>
                <p>
                    A chan is a 'channel' where you can post things, sort of like a blog, but you can post anonymously.  The 'To' and 'From' will both be from the chan's address.  To sign up to see what is being posted in a chan, you need both the chan label/passphrase and the address.
                </p>
            </div>

            <br />
            <br />
            <br />
            <a href={% url 'bitweb:index' %} class="text-muted">Home</a>
        </div>
    </body>
</html>
