<div class="modal fade" id="addressBookModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
				<h4 class="modal-title">Address Book</h4>
			</div>
			<div class="modal-body">
				<form name="addAddressEntry">
					<div class="form-group">
						<label>Name</label>
						<input type="text" class="form-control" name="name" placeholder="Enter Name" required />                   
						<label for="Identity Name">Address</label>
						<input type="text" class="form-control" name="address" placeholder="BM-address" required />
						<button type="button" class="btn" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-material-blue-grey-500">Add</button>
					</div>
				</form>
				<ul>
					{% verbatim %}
					<li jq-repeat="addressBook" data-id="{{ id }}">
						<b>{{ name }}<b>:  <i>{{ address }}</i>
						<button type="button" class="btn btn-danger delete">Delete</button>
					</li>
					{% endverbatim %}
				</ul>
			</div>
		</div>
	</div>
</div>