<div class="modal fade" id="create_identity" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
	        <div class="modal-header">
	 			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
	        	<h4 class="modal-title" id="myModalLabel">New Identity</h4>
	        </div>
		    <div class="modal-body">
				<form id="create_id_form">
				  <div class="form-group">
				    <label for="Identity Name">Identity Nickname</label>
				    <input type="text" class="form-control" id="identity_name" placeholder="Enter Identity Nickname">
				    <p class="help-block">Create an 'Identity' for your mailbox.  You can create more anytime you want, and have different mailboxes for different Identities!</p>
		            <button type="button" class="btn" data-dismiss="modal">Cancel</button>
			        <button type="button" id="create_id_button" class="btn btn-material-blue-grey-500" data-dismiss="modal">Create</button>
				  </div>
				</form>
		    </div>
	    </div>
	  </div>
	</div>