<div class = "row">
	<div class="inbox-nav btn-group-vertical col-md-2">
		<button id="inbox" type="button" class="btn">Inbox</button>
		<button type="button" class="btn">Starred</button>
		<button id="sent" type="button" class="btn">Sent Mail</button>
		<button type="button" class="btn">Drafts</button>
		<button type="button" class="btn">Spam</button>
		<button type="button" class="btn">Trash</button>
	</div>
	<div class="inbox-bucket col-md-9" >
		<div id="inbox-mess">
			<div class="row" id="table-head">
				<h3><span class="label label-default col-md-3">From</span></h3>
				<h3><span class="label label-default col-md-3">To</span></h3>
				<h3><span class="label label-default col-md-3">Message</span></h3>
				<h3><span class="label label-default col-md-3">Time</span></h3>
			</div>
			<div class="row">	
				<ul id ='inbox-list'>
				{% verbatim %}
				<li jq-repeat="inbox" class = "new-message row {{toAddress}}" style="background-color:{{ color }}">
				<a href="#">
					<p hidden id="msg-id">{{ msgid }}</p>
					<div class = "col-xs-3 " >{{fromaddress }}</div>
					<div class = "col-xs-3" >{{ toaddress }}</div>
					<div class = "col-xs-3 " ><b>{{ inboxsubject }}</b> : {{ inboxmessage }} </div>
					<div class = "col-xs-3 message-date" >  {{ receivedTime }}</div>
				</a>
				</li>
				{% endverbatim %}
				</ul>
			</div>
		</div>

		<div id="chan_mess">
			<ul id="chan_ul_inbox_well">
			{% verbatim %}
			<div jq-repeat="chan_inbox" class = "new-message row {{toAddress}}" >
				<div class = "col-xs-3 " >Subject: {{subject}}</div>
				<div class = "col-xs-3 " >Message: {{message}}</div>
				<div class = "col-xs-3 message-date" >{{receivedTime}}</div>
				<div class = "col-xs-3 read-status" >{{color}}</div>
			</div>
			{% endverbatim %}
			</ul>
		</div>
		<div id = "sent-mess">
			<ul>
			{% verbatim %}
				<li jq-repeat="sent">{{subject}}:{{ message }}</li>
			{% endverbatim %}
			</ul>
		</div>
	</div>
</div>