{% extends "bitweb/base.html" %}
{% load staticfiles %}
{% block title %}{{ user.username }} Inbox - {% endblock %}
{% block header %}
    {% load staticfiles %}
    <script src="{%static 'js/inbox.js' %}"></script>
    <script src="{%static 'js/jq-repeat.min.js' %}"></script>
    <script src="{%static 'js/mustache.min.js' %}"></script>
	<div class = "row">
	    <h1><a class="col-md-2" href={% url 'bitweb:index' %} id = 'logo'>BitR</a></h1>
	    <form class="col-md-4" action = {% url 'bmapi:search' %} id = "search-bar">
	    <input id = "search-input" type = 'search' placeholder = "Search" results = "0" name = 'bitr-search'>
		</form>
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
			Dropdown
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
			</ul>
		</div>
		<a class="col-md-2" href={% url 'bmapi:settings' %} id = 'settings-btn'><button class="btn btn-material-blue-grey-100">Settings</button></a>
	    <a class="col-md-2" href={% url 'bitweb:logout' %} id = 'logout-btn'>Logout</a>
	</div>
{% endblock %}
{% block content %}
	<div class = "row">
		<div class = "col-md-2">
			<button class="btn btn-material-blue-grey-100" id = "compose-btn">Compose</button>
			<br>
			<button class="btn btn-material-blue-grey-100" id = "chan-post-btn">Post to Chan</button>
		</div>
		<select class = "col-md-1" id = 'mess-select'>
			<option>All</option>
			<option>None</option>
			<option>Read</option>
			<option>Unread</option>
			<option>Starred</option>
			<option>Unstarred</option>
		</select>
		<button class = "col-md-1 btn btn-material-blue-grey-100" id = 'refresh-btn'>Refresh</button>
		<div id = 'primary-tab' class = 'col-md-3'>
			<p>Primary</p>
		</div>
		<div class = "col-md-3" id = 'chan-tab'>
			<p>Chans</p>
			<select id = 'chan-select'>
				{% for chan in chans %}
				<option>{{chan.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div class = "row">
		<ul class = "col-md-2" id = "inbox-options">
			<li><a href={% url 'bmapi:allmessages' %}>Inbox</a></li>
			<li><a href={% url 'bmapi:starred' %}>Starred</a></li>
			<li><a href={% url 'bmapi:sent' %}>Sent Mail</a></li>
			<li><a href={% url 'bmapi:drafts' %}>Drafts</a></li>
			<li><a href={% url 'bmapi:spam' %}>Spam</a></li>
			<li><a href={% url 'bmapi:trash' %}>Trash</a></li>
		</ul>
		<div class = "col-md-8">
			{% verbatim %}
			<ul>
				<li jq-repeat="inbox">{{ message }}</li>
			</ul>
			{% endverbatim %}
		</div>
	</div>
{% endblock %}