<div class = "row">
		<div class="inbox-nav btn-group-vertical col-md-2">
			<button id="inbox" type="button" class="btn">Inbox</button>
			<button type="button" class="btn">Starred</button>
			<button id="sent" type="button" class="btn">Sent Mail</button>
			<button type="button" class="btn">Drafts</button>
			<button type="button" class="btn">Spam</button>
			<button type="button" class="btn">Trash</button>
		</div>
		<div class="inbox-bucket col-md-8" >
			<div id="inbox-mess">
				<ul>
				{% verbatim %}
				<div jq-repeat="inbox" class = "new-message row">
					<div class = "col-xs-3 " >Subject: {{subject}}</div>
					<div class = "col-xs-3 " >Message: {{message}}</div>
					<div class = "col-xs-3 message-date" >{{receivedTime}}</div>
					<div class = "col-xs-3 read-status" >{{read}}</div>
				</div>
				{% endverbatim %}
				</ul>
			</div>
			<div id = "sent-mess">
				<ul>
				{% verbatim %}
					<li jq-repeat="sent">{{subject}}:{{ message }}</li>
				{% endverbatim %}
				</ul>
			</div>
		</div>
	</div>