<div class = "row">
	<div class="inbox-nav btn-group-vertical col-md-2">
		<button id="inbox" type="button" class="btn">Inbox</button>
		<button type="button" class="btn">Starred</button>
		<button id="sent" type="button" class="btn">Sent Mail</button>
		<button type="button" class="btn">Drafts</button>
		<button type="button" class="btn">Spam</button>
		<button type="button" class="btn">Trash</button>
	</div>
	<div class="inbox-bucket col-md-9" >
		<div id="inbox-mess">
			<div class="row" id="table-head">
				<h3><span class="label label-default col-md-4">Subject</span></h3>
				<h3><span class="label label-default col-md-4">Message</span></h3>
				<h3><span class="label label-default col-md-4">Time</span></h3>
			</div>
			<div class="row">	
				<ul>
				{% verbatim %}
				<li jq-repeat="inbox" class = "new-message row" >
				<a href="#">
					<div class = "col-xs-4 " >{{subject}}</div>
					<div class = "col-xs-4 " >{{message}}</div>
					<div class = "col-xs-4 message-date" >  {{ receivedTime }}</div>
				</a>
				</li>
				{% endverbatim %}
				</ul>
			</div>
		</div>
		<div id="chan_mess">
			<ul>
			{% verbatim %}
			<div jq-repeat="chan_inbox" class = "new-message row" >
				<div class = "col-xs-3 " >Subject: {{subject}}</div>
				<div class = "col-xs-3 " >Message: {{message}}</div>
				<div class = "col-xs-3 message-date" >{{receivedTime}}</div>
				<div class = "col-xs-3 read-status" >{{color}}</div>
			</div>
			{% endverbatim %}
			</ul>
		</div>
		<div id = "sent-mess">
			<ul>
			{% verbatim %}
				<li jq-repeat="sent">{{subject}}:{{ message }}</li>
			{% endverbatim %}
			</ul>
		</div>
	</div>
</div>