{% extends "bitweb/base.html" %}
{#% load unix_time %#}
{% load staticfiles %}
{% block title %}{{ user.username }} Inbox - {% endblock %}
{% block header %}
    {% load staticfiles %}
    <script src="{%static 'js/mustache.min.js' %}"></script>
    <script src="http://ocean.718it.biz/jq-repeat/src/jq-repeat.js"></script>
    <script src="{%static 'js/inbox.js' %}"></script>
	<div class = "row">
		<div class="col-md-10">
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-raised" type="button" id="search-btn">Go!</button>
				</span>
				<input type="text" class="form-control" placeholder="Search for...">
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class = "row">
		<div class = "col-md-2">
			<button class="btn btn-material-blue-grey-100" data-toggle="modal" data-target="#compose_msg">Compose</button>
		</div>

		<div class="dropdown col-md-2">
		  <button class="btn btn-material-blue-grey-100 dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
		    Select
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		    	<li role="presentation"><a role="menuitem" tabindex="-1" href="#">All</a></li>
		    	<li role="presentation"><a role="menuitem" tabindex="-1" href="#">None</a></li>
		    	<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Read</a></li>
		    	<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Unread</a></li>
		    	<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Starred</a></li>
		    	<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Unstarred</a></li>
		  </ul>
		</div>

		<div class="dropdown col-md-2">
			  <button data-toggle="dropdown" class="btn btn-material-blue-grey-100 dropdown-toggle" id="identityDrop" data-placeholder="No Identity Selected">No Identity Selected<span class="caret"></span></button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					{% verbatim %}
						<li jq-repeat="identities"><input type="checkbox" id="{{ identity }}"><label for="{{ identity }}">{{ identity }}</label></li>
					{% endverbatim %}  
					<li role="presentation" class="divider"></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#create_identity">Create New Identity</a></li>
			    </ul>
			</div>
	</div>


	<div class = "row">
		<div class="col-md-2">
			<button class="btn btn-material-blue-grey-100" id = "chan-post-btn">Post to Chan</button>
		</div>

		<div class = "col-md-10">
			<div class="btn-group btn-group-justified" role="group" aria-label="primaryChan">
				<div id = 'primary-tab' class='btn'>
					<p>Primary</p>
				</div>
				<div class="dropdown btn-group" role="group">
				  <button id="chanss" data-toggle="dropdown"  class="btn dropdown-toggle btn-material-blue-grey-100 col-md-offset-2 col-md-offset-6"  data-placeholder="No Chan Selected">No Chan Selected<span class="caret"></span></button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						{% verbatim %}

							<li jq-repeat="chans"><input type="checkbox" id="{{ chan_label }}"><label for="{{ chan_label }}">{{ chan_label }}</label></li>
						{% endverbatim %}  
						<li role="presentation" class="divider"></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#subscribe_chan">Subscribe to Chan</a></li>					
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#create_chan">Create New Chan</a></li>
				    </ul>
				</div>
			</div>
		</div>
	</div>


<!-- inbox include -->
	{% include "bitweb/inbox_include.html" %}	

<!-- new identity modal -->
	{% include "bitweb/id_modal.html" %}

<!-- new chan modal -->
	{% include "bitweb/chan_modal.html" %}	

<!-- compose modal -->
	{% include "bitweb/mess_modal.html" %}

<!-- chan subscribe modal -->
	{% include "bitweb/subscribe_chan_modal.html" %}	
	
{% endblock %}