<!DOCTYPE html>
<html>
    <head>
        {% load bootstrap_tags %}
        {% load staticfiles %}
        <title>{% block title %}{% endblock %}BitR</title>
        <!-- Twitter Bootstrap -->        
        <link media="all" type="text/css" rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
        <!-- Material Design for Bootstrap -->
        <link media="all" type="text/css" rel="stylesheet" href="{% static "css/material-wfont.min.css" %}" />
        <link media="all" type="text/css" rel="stylesheet" href="{% static "css/ripples.css" %}" />

        <script src="{%static "js/jquery.min.js"%}"></script>
        <script src="{% static "js/mustache.min.js" %}"></script>        
        <script src="{%static "js/django_ajax.js"%}"></script>
        <script src="{%static "js/bootstrap.min.js"%}"></script>
        <script src="{%static "js/jquery.cookie.js"%}"></script>
        <!-- Material Design for Bootstrap -->
        <script src="{%static "js/material.min.js"%}"></script>
        <script src="{%static "js/ripples.min.js"%}"></script>
        <script src="{%static 'js/index.js' %}"></script>
    </head>
    <body>
    <div class="jumbotron" style="background-image:url({%static 'images/phone_lines.jpeg' %})">
        <div class="row">

        <div class="col-md-5 col-md-offset-7">
            <p class="signup">
                Already have a BitR account?  <button id="login" class="btn btn-material-blue-grey-500">Login</button>
            </p>
            <p class="login">
                Don't have a BitR account?  <button id="signup" class="btn btn-material-blue-grey-500">Sign up now</button>
            </p>
        </div>
        </div>
        <div class="row">

        <div class="col-md-3">
            <p>{{ error }} </p>
            <form id="signup_form" class="signup form-horizontal">
                {% csrf_token %}
                
                {{ signup|as_bootstrap }}

                <button type="submit" class="btn btn-material-blue-grey-100 pull-right">
                    Sign Up
                </button>
            </form>

            <form id="login_form" class="login form-horizontal">
                {% csrf_token %}

                {{ login|as_bootstrap }}

                <button type="submit" class="btn btn-material-blue-grey-100 pull-right">
                    Login
                </button>
            </form>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
        <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-10">
                <a href={% url 'bitweb:about' %} class="text-muted">About Us</a>
            </div>
        </div>
    </div>
</html>
