<div class="modal fade" id="mess_view_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
	<div class="modal-content">
        <div class="modal-header">
 			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        	<h4 class='modal-title' id='messageModalLabel'>Reply</h4>
        </div>
	    <div class="modal-body">
			<form id = "mess-view-form" >
			  <div class="form-group">
			  	<input type="hidden" id="mess-id">
			    <label for="mess-from">From: </label>
			    <p id="mess-from" class="addyBook"></p>
			    <label for="mess-date">Date: </label>
			    <p id = "mess-date"></p>
			    <label for="mess-subject">Subject: </label>
			    <p id = "mess-subject"></p>
			    <label for="mess-body">Body: </label>
			    <p id = "mess-body"></p>
			    <br>
			    <div id="mess-reply">
			    <label for="mess-from">Reply: </label>
			    <textarea name = 'reply'  id = "mess-from" class="form-control"></textarea>
			    </div>
	            <button type="button" class="btn" data-dismiss="modal">Close</button>
	        	<button type="button" class="btn btn-danger" id="delete_msg" data-dismiss="modal">Delete</button>
		        <input type="submit" id="create_reply_button" class="btn btn-material-blue-grey-500" value = 'reply' >
			  </div>
			</form>
	    </div>
    </div>
  </div>
</div>