<div class="modal fade" id="mess_view_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-sm">
		<div class="modal-content">
	        <div class="modal-header">
	 			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
	        	<h4 class="modal-title" id="messageModalLabel"></h4>
	        </div>
		    <div class="modal-body">
				<form id = "mess-view-form" >
				  <div class="form-group">
				    <label for="mess-from">From: </label>
				    <p id = "mess-from" class="form-control"></p>
				    <label for="mess-date">Date: </label>
				    <p id = "mess-date" class="form-control"></p>
				    <label for="mess-subject">Subject: </label>
				    <p id = "mess-subject" class="form-control"></p>
				    <label for="mess-body">Body: </label>
				    <p id = "mess-body" class="form-control"></p>
				    <p class="help-block">View your message here! If you want to reply use the text area below: </p>
				     <label for="mess-from">Reply: </label>
				    <textarea name = 'reply'  id = "mess-from" class="form-control"></textarea>
		            <button type="button" class="btn" data-dismiss="modal">Cancel</button>
			        <input type="submit" id="create_reply_button" class="btn btn-material-blue-grey-500" value = 'submit' >
				  </div>
				</form>
		    </div>
	    </div>
	  </div>
	</div>