<div class="modal fade" id="compose_chan_post" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h4 class="modal-title">Post to Chan</h4>
        </div>
        <div class="modal-body">
            <form id="post_chan_form">
              <div class="form-group">
              <p class="help-block">Post anonymously to a chan you belong to.  When you post to the chan, your message will be sent to everybody who subscribes to the chan, and the message has only the chan address as the from address</p>
              <label for="chan_post_list">Post To:</label>
                <select class="form-control" name="chan_post_list">
                    {% verbatim %}
                        <option jq-repeat="post_chan_list">{{ chan_label }}</option>
                    {% endverbatim %}                
                </select>
                <label for="Subject">Subject:</label>
                <input type="text" class="form-control" name="subject" placeholder="Enter subject here">
                <label for="message">Message</label>
                <textarea class="form-control" rows="10" name="message" name = "message" placeholder="Enter message here"></textarea>              
                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                <button type="submit" id="post_message_btn" class="btn btn-material-blue-grey-500">Post</button>
              </div>
            </form>
        </div>
    </div>
  </div>
</div>