<div class="modal fade" id="remove_chan" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">Remove a Chan</h4>
            </div>
            <div class="modal-body">
                <form id = "rmv_chan_form">
                  <div class="form-group">
                    <label for="chan_remove_list">Label</label>
                    <select class="form-control" name="chan_remove_list">
                        {% verbatim %}
                        <option jq-repeat="remove_chan_list">{{ label }}</option>
                        {% endverbatim %}
                    </select>
                    <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="rmv_chan_btn" class="btn btn-material-blue-grey-500" >Remove</button>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>