<div class="modal fade" id="subscribe_chan" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">Subscribe to a Chan</h4>
            </div>
            <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="Identity Name">Label</label>
                    <input type="text" class="form-control" id="chan_label" placeholder="Enter Chan Label/Passphrase">
                    <p class="help-block">This is the label, which some use as a passphrase, for the chan</p>                    
                    <label for="Identity Name">Address</label>
                    <input type="text" class="form-control" id="chan_addy" placeholder="Enter Chan Address">
                    <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                    <button type="button" id="sub_chan_btn" class="btn btn-material-blue-grey-500" data-dismiss="modal">Subscribe</button>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>